<%= render 'band', band: band, action: :show %>

<ul>
  <% albums = Album.where('band_id = ?', band.id) %>
  <% albums.each do |album| %>
  <li>
    <%= album.title %>
    <a href= "<%= album_url(album)%>" >Album Page</a>
  </li>
</ul>